<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cliente">
    <select id="buscarTodos" resultType="beans.Cliente">
        SELECT idCliente, nombre, email, contraseña, direccion, telefono, usuario, token, validacion
        FROM puntoventa.dbo.cliente
    </select>
    
    <select id="buscarPorNombre" resultType="beans.Cliente">
        SELECT idCliente, nombre, email, contraseña, direccion, telefono, usuario, token, validacion
        FROM puntoventa.dbo.cliente
        WHERE nombre LIKE '%' + #{nombre} + '%';
    </select>
    
    <insert id="registrarClienteMap" parameterType="map">
        INSERT INTO puntoventa.dbo.cliente
        (nombre, email, contraseña, direccion, telefono, usuario, token)
        VALUES(#{nombre},#{email},#{contraseña},#{direccion},#{telefono},#{usuario},#{token});
    </insert>
    
    <insert id="registrarClienteObject" parameterType="beans.Cliente"
            useGeneratedKeys="true" keyProperty="idCliente">
        INSERT INTO puntoventa.dbo.cliente
        (nombre, email, contraseña, direccion, telefono, usuario, token)
        VALUES(#{nombre},#{email},#{contraseña},#{direccion},#{telefono},#{usuario},#{token});
    </insert>
    
    <select id="sePuedeRegistrarTelefono" resultType="boolean" parameterType="beans.Cliente">
        SELECT
            CASE WHEN EXISTS
                (SELECT 1 FROM puntoventa.dbo.cliente WHERE telefono = #{telefono})
            THEN 0
            ELSE 1
        END AS 'se_puede';
    </select>
    
    <select id="sePuedeRegistrarUsuario" resultType="boolean" parameterType="beans.Cliente">
        SELECT
            CASE WHEN EXISTS
                (SELECT 1 FROM puntoventa.dbo.cliente WHERE usuario = #{usuario})
            THEN 0
            ELSE 1
        END AS 'se_puede';
    </select>
    
    <select id="existeIdCliente" resultType="boolean" parameterType="int">
        SELECT
            CASE WHEN EXISTS
                (SELECT 1 FROM puntoventa.dbo.cliente WHERE idCliente = #{idCliente})
            THEN 1
            ELSE 0
        END AS 'existe';
    </select>
    
    <select id="sePuedeActualizarTelefono" resultType="boolean" parameterType="beans.Cliente">
        SELECT
            CASE WHEN EXISTS
                (SELECT 1 FROM puntoventa.dbo.cliente WHERE telefono = #{telefono} AND idCliente != #{idCliente})
            THEN 0
            ELSE 1
        END AS 'se_puede';
    </select>
    
    <select id="sePuedeActualizarUsuario" resultType="boolean" parameterType="beans.Cliente">
        SELECT
            CASE WHEN EXISTS
                (SELECT 1 FROM puntoventa.dbo.cliente WHERE usuario = #{usuario} AND idCliente != #{idCliente})
            THEN 0
            ELSE 1
        END AS 'se_puede';
    </select>
    
    <update id="actualizarCliente" parameterType="beans.Cliente">
        UPDATE puntoventa.dbo.cliente SET
        nombre = #{nombre},
        email = #{email},
        contraseña = #{contraseña},
        direccion = #{direccion},
        telefono = #{telefono},
        usuario = #{usuario}
        WHERE idCliente = #{idCliente};
    </update>
    
    <select id="clienteTieneVentas" resultType="boolean" parameterType="int">
        SELECT
            CASE WHEN EXISTS
                (SELECT TOP 1 1 FROM puntoventa.dbo.venta WHERE idCliente = #{idCliente})
            THEN 1
            ELSE 0
        END AS 'tiene';
    </select>
    
    <delete id="eliminarCliente" parameterType="int">
        DELETE FROM puntoventa.dbo.cliente
        WHERE idCliente = #{idCliente};
    </delete>
</mapper>