<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cliente">
    <select id="buscarTodos" resultType="beans.Cliente">
        SELECT idCliente, nombre, email, contraseña, direccion, telefono, usuario, token, validacion
        FROM puntoventa.dbo.cliente
    </select>
    
    <select id="buscarPorNombre" resultType="beans.Cliente">
        SELECT idCliente, nombre, email, contraseña, direccion, telefono, usuario, token, validacion
        FROM puntoventa.dbo.cliente
        WHERE nombre LIKE '%' + #{nombre} + '%';
    </select>
    
    <insert id="registrarClienteMap" parameterType="map">
        INSERT INTO puntoventa.dbo.cliente
        (nombre, email, contraseña, direccion, telefono, usuario, token)
        VALUES(#{nombre},#{email},#{contraseña},#{direccion},#{telefono},#{usuario},#{token});
    </insert>
    
    <insert id="registrarClienteObject" parameterType="beans.Cliente"
            useGeneratedKeys="true" keyProperty="idCliente">
        INSERT INTO puntoventa.dbo.cliente
        (nombre, email, contraseña, direccion, telefono, usuario, token)
        VALUES(#{nombre},#{email},#{contraseña},#{direccion},#{telefono},#{usuario},#{token});
    </insert>
</mapper>